header {
  background-color: $backclr;
  width: 100%;
  display: sticky;
  .head {
    padding-left: 137px;
    padding-top: 21px;
    display: flex;
    align-items: center;
    h3 {
      color: $blck;
      font-family: sans-serif;
      font-size: 11px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-right: 30px;
    }
  }
}

.sec-1 {
  background-color: $backclr;
  h1 {
    color: #000;
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 137px;
    padding-bottom: 27px;
    padding-top: 40px;
  }
  .main {
    display: flex;
    margin-left: 137px;
    justify-content: space-between;
    .cont {
      width: 362px;
      height: 357px;
      background-color: white;
      .img {
        display: relative;
        h2 {
          color: #fff;
          font-family: Roboto;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          display: absolute;
        }
      }
      .end {
        width: 238px;
        height: 36px;
        padding-left: 30px;

        p {
          color: #8a8787;
          font-family: Roboto;
          font-size: 10px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
      p {
        color: #8a8787;
        font-family: Roboto;
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
      }
      i {
        display: inline-block;
        vertical-align: middle;
        padding-left: 40px;
      }
    }
  }
}

.sec-2 {
  background-color: $backclr;
  h1 {
    color: #000;
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 137px;
    padding-bottom: 27px;
    padding-top: 40px;
  }
  .flexbox {
    display: flex;
    .column-1 {
      margin-left: 137px;

      .cent {
        display: relative;
        h2 {
          color: #fff;
          font-family: Roboto;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          display: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50% -50%);
        }
      }
    }
    .column-2 {
      display: flex;
      flex-direction: column;
      margin-left: 100px;
      img {
        margin-bottom: 90px;
      }
    }
  }
}
footer {
  height: 201px;
  background-color: $footer-color;

  .container {
    height: 100%;
    @include container;
    @include flex-container($align-items: center);

    .left {
      @include flex-container(
        $justify-content: center,
        $align-items: flex-start
      );

      .list {
        margin-right: 75px;
        p {
          color: #818687;
          font-family: sans-serif;
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 14px;
        }
      }

      p {
        color: #fff;
        font-family: sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
